{% extends '_base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
    Asset {{ asset.title }}
{% endblock %}

{% block body_class %} asset-detail {% endblock %}

{% block content %}

{% include 'core/includes/title_row.html' with heading="Asset" editurl="core:asset-update" objid=asset.pk %}

<div class="row mt-4">
    <div class="col-lg-6">
        {% include 'core/includes/asset_img.html' %}
        <p>
            <br>
            <a 
                href="{{ asset.file.url }}"
                title="Original file {{ asset.file.url }}"
                style="overflow-wrap: break-word;"
            >
                <i class="bi bi-cloud-arrow-down"></i> 
                {{ asset.filename_orig }}
                (<span class="font-monospace">{{ asset.file.size | filesizeformat }}</span>)
            </a>
        </p>
    </div>
    <div class="col-md-6 col-lg-3">
        <p>
            <span class="text-muted">
                Title
            </span>
            <br>
            <strong>
                {{ asset.title }}
            </strong>
            <br>
            {{ asset.description }}
        </p>
        <p>
            <span class="text-muted">
                Usage
            </span>
            <br>
            {% for usage in asset.get_usage_with_count %}
                {% include 'core/includes/tag.html' with obj=usage %}
            {% empty %}
                n/a
            {% endfor %}
        </p>
        <div>
            <span class="text-muted">
                Meta
            </span>
            <div class="small text-muted">
                {% include 'core/includes/asset_audit.html' with action='uploaded' timestamp=asset.created_at by=asset.created_by %}
                <br>
                {% include 'core/includes/asset_audit.html' with action='updated' timestamp=asset.updated_at by=asset.updated_by %}
                <br>
                {% if asset.source_url %}
                <a href="{{ asset.source_url }}" title="{{ asset.source_url }}">
                    <i class="bi bi-file-binary"></i> Source URL
                </a>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="col-md-6 col-lg-3">
        <p>
            <span class="text-muted">
                <i class="bi bi-signpost-split"></i>
                Licence
            </span>
            <br>
            <span class="text-muted">
                {% if asset.licence %}
                <a href="{% url 'core:licence-detail' asset.licence.pk %}">
                    {{ asset.licence }}
                </a>
                {% else %}
                    n/a
                {% endif %}
            </span>
        </p>
        <p>
            <span class="text-muted">
                <i class="bi bi-c-circle"></i>
                Copyright statement
            </span>
            <br>
            {% if asset.copyright_statement %}
                {{ asset.copyright_statement }}
            {% else %}
                n/a
            {% endif %}
        </p>
        <p>
            <span class="text-muted">
                <i class="bi bi-shop-window"></i>
                Dealer
            </span>
            <br>
            {% if asset.dealer %}
                <a href="{% url 'core:dealer-list' %}?highlight=dealer-{{ asset.dealer.id }}">
                    {% if asset.with_costs %}
                        <i title="You paid for this asset." class="bi bi-coin"></i>
                    {% endif %}
                    {{ asset.dealer }}
                </a>
            {% else %}
                n/a
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}
