{% extends '_base.html' %}
{%  load static %}

{% block title %}
    Dealers
{% endblock %}

{% block content %}

    {% include 'core/includes/title_row.html' with heading="Dealers" createurl="core:dealer-create" %}

    {% if dealers %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for dealer in dealers %}
            {% include 'core/includes/dealer_list_item.html' %}
        {% endfor %}
        </div>
    {% else %}
        <p>
            <i>No dealers found.</i>
            <br>
            <a 
                class="btn btn-primary"
                href="{% url 'core:dealer-create' %}"
            >
                Add one?
            </a>
        </p>
    {% endif %}

{% endblock %}