{% extends '_base.html' %}

{% load static %}

{% block title %}
    Licence {{ licence.name }}
{% endblock %}

{% block content %}


{% include 'core/includes/title_row.html' with heading="Licence" editurl="core:licence-update" objid=licence.pk %}

<table class="table my-4">
    <tbody>
        <tr>
            <th style="white-space: nowrap; width: 1%;">
                Licence name
            </th>
            <td>
                {{ licence.name }}
            </td>
        </tr>
        <tr>
            <th>
                Licence URL
            </th>
            <td>
                {% if licence.url %}
                    <a href="{{ licence.url }}">{{ licence.url }}</a>
                {% else %}
                    n/a
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Assets</th>
            <td>
                <a href="{% url 'core:asset-list' %}?licence={{ licence.slug }}">
                    {{ assets }} related asset{{ assets|pluralize }}
                </a>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
