{% extends '_base.html' %}
{%  load static %}

{% block title %}
    Assets
{% endblock %}

{% block content %}

    {% include 'core/includes/title_row.html' with heading="Licences" createurl="core:licence-create" %}

    {% if licences %}
    <ol class="list-group">
    {% for licence in licences %}
    <li class="list-group-item">
        <a href="{% url 'core:licence-detail' licence.id %}">
            <i class="bi bi-signpost-split"></i>
            {{ licence.name }}
            <span class="text-muted ms-4">
                {{ licence.count }} related asset{{ licence.count|pluralize }}
            </span>
        </a>
    </li>
    {% endfor %}
    </ol>

    {% else %}
        <p>
            <i>No licences found.</i>
            <br>
            <a 
                class="btn btn-primary"
                href="{% url 'core:licence-create' %}"
            >
                Add one?
            </a>
        </p>
    {% endif %}

{% endblock %}