@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';


.asset-list-tile {
    text-decoration: none;
    border-radius: 9px;

    &:hover {
        background-color: #eaeaea;
    }

    img {
        max-width: 100%;
        max-height: 200px;
        height: 200px;
        object-fit: contain;

        @include media-breakpoint-up(md) {
            max-width: 400px;
        }
    }
}

.asset-detail {
    .asset-img {
        img {
            max-width: 100%;
            max-height: 300px;
            height: 300px;

            @include media-breakpoint-up(md) {
                max-width: 600px;
                max-height: 300px;
            }
        }
    }
}
