.asset-list-tile {
    text-decoration: none;
    border-radius: 9px;

    &:hover {
        background-color: #eaeaea;
    }

    img {
        max-height: 200px;
        max-width: 400px;
    }
}

.asset-detail {
    .asset-img {
        img {
            max-height: 300px;
        }
    }
}
