<div class="asset-img">
    <div class="d-inline-block position-relative">
        <img 
            src="{{ asset.get_image_rendition.url }}" 
            alt="{{ asset.title }}" 
            decoding="async"
            loading="lazy"
            {% if asset.get_image_rendition.width and asset.get_image_rendition.height %}
                width="{{ asset.get_image_rendition.width }}"
                height="{{ asset.get_image_rendition.height }}"
            {% endif %}
        >
        {% if asset.with_costs %}
        <span 
            class="position-absolute badge rounded-pill"
            style="background-color: #85bb65; color: white; font-size: larger; right: 10px; top: 10px;"
        >
                <i title="You paid for this asset." class="bi bi-coin"></i>
        </span>
        {% endif %}
    </div>
</div>
