<div class="asset-list-item flex-fill text-center p-2">
    <a 
        class="asset-list-tile d-block p-2"
        href="{% url 'core:asset-detail' asset.pk %}"
    >
        {% include 'core/includes/asset_img.html' %}
        <br>
        {{ asset.title }}
        <br>
        <span class="text-muted" title="License">
            <i class="bi bi-signpost-split"></i>
            {{ asset.license }}
        </span>
        <br>

        {% for tag in asset.usage_tags.all %}
            {{ tag.name }} {{ tag.get_media_icon }}
        {% endfor %}
    </a>
</div>
