{% extends "_base.html" %}

{% load static crispy_forms_tags %}

{% block extra_css %}
.form-signin-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 430px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
{% endblock extra_css %}

{% block content %}

<div class="form-signin-wrapper text-center">
  <div class="form-signin w-100 m-auto">

    <img class="mb-4 img-fluid" src="{% static 'branding/ddam-social-preview.png' %}" alt="">

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <p class="alert alert-warning">
          {{ error }}
      </p>
      {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div id="div_id_username" class="form-floating">
            <input 
                id="id_username"
                class="textinput form-control" 
                type="text" 
                name="username" 
                placeholder="Email address"
                autofocus 
                autocapitalize="none" 
                autocomplete="username" 
                maxlength="255"   
                required 
            >
            <label for="id_username" class="requiredField">
                Email address<span class="asteriskField">*</span>
            </label>
        </div>
        <div id="div_id_password" class="form-floating">
            <input 
                id="id_password" 
                class="passwordinput form-control"
                type="password"
                name="password"
                placeholder="Password"
                autocomplete="current-password"
                required
            >
            <label for="id_password" class="requiredField">
                Password<span class="asteriskField">*</span>
            </label>
        </div>

        <button class="mt-4 w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </div>
</div>
{% endblock %}